.new-item__btn {
  width: 100%;
  margin-top: 48px;
  padding-top: 13px;
  padding-bottom: 18px;
  border: none;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width:590px) {
  .new-item__btn {
    margin-top: 45px;
    padding: 14px 0;
  }
}