.profile__img {
  width: 13.6%;
  max-height: 120px;
  margin-right: 30px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width:530px) {
  .profile__img {
    width: 120px;
    height: 120px;
    margin-right: 0;
    margin-bottom: 28px;
  }
}