.profile__info {
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 50%;
}

@media screen and (max-width:770px) {
  .profile__info {
    flex-basis: 80%;
    margin-right: 0;
  }
}

@media screen and (max-width:620px) {
  .profile__info {
    flex-basis: 80%;
  }
}

@media screen and (max-width:530px) {
  .profile__info {
    max-width: 282px;
    margin: 0 auto;
    align-items: center;
  }
}