.new-item__input {
  width: 100%;
  border: none;
  padding: 0;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}
.new-item__input::placeholder {
  color: #C4C4C4;
}
.new-item__input:not(:last-of-type) {
  margin-bottom: 30px;
}